<div class="container">
  <h2>
    <mat-label>Welcome to my first application developed with Angular, Firestore, Material and lot of ❤︎ </mat-label>
  </h2>
  <div class="buttons">

    <!-- <button  mat-raised-button color="primary" (click)="login()">
      LOGIN
    </button> -->

    <button class="admin" mat-raised-button  (click)="listado()">
      REGISTRO
    </button>

  </div>

</div>

<!-- <div *ngIf = "flag" class="container">
  <h2>
    <mat-label>Welcome to my first application developed with Angular, Firestore, Material and lot of ❤︎ </mat-label>
  </h2>
  <button  mat-raised-button color="primary" (click)="login()">
    LOGIN
  </button>
</div> -->
