.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.subtitol{
  margin-top: 20px;
}
.exit{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
 }

 .mat-list-item{
   display: block !important;
 }

 .alumnos{
   max-width: 1500px;
   margin: 0 auto;
   text-align: left;
   columns: auto 1;
   column-gap: 6vw;
   padding: 6vw;
   column-fill: balance;
   /* column-rule: 2px solid rgb(203, 173, 230); */

 }
 .alumno{
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
   justify-content: space-between;
   background: lavender;
   margin-bottom: 8px;
   border-radius: 10px 0;

 }


 .nombreAlumno{
  margin-left: 15px;

 }

 @media all and (min-width:600px){
  .alumnos{
    columns: auto 2;
  }
 }

 @media all and (min-width:900px){
  .alumnos{
    columns: auto 3;
    column-gap: 5vw;
    padding: 5vw;
  }
 }

 @media all and (min-width:1300px){
  .alumnos{
    columns: auto 4;
    column-gap: 4vw;
    padding: 4vw;
  }
 }
 table {
  width: 100%;
}

 /*------
 table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

*/
